body{
    background-color: rgb(170, 192, 221);
}
form{
    border: 2px solid black;
    border-radius: 20px;
    background-color: #198754;
    width: fit-content;
    height: fit-content;
    padding: 50px;
    margin-top:10%;
    margin-left:40%;
    
}
input,label{
    display: block;
    font-size: 18px;
}
label{
    font-weight: bold;
    color: #97c9b2;
}

input{
    font-weight: 100em;
    border-radius: 5px;
    background-color: rgb(145, 190, 248);
}

button{
    font-size: 15px;
    padding: 10px;
    margin: 0px 15px;
    font-weight: bold;
    border-radius: 5px;
    border:0px;
    color: white;
}
#submit{
    background-color: #007bff;
}
#reset{
    background-color: #dc3545;
}
#submit:hover{
    background-color:#0761c2 ;
}
#reset:hover{
    background-color:#9e2733 ;
}
