li{
    display: inline;
}
ul{
    padding-top: 5px;
}
li > a{
    text-decoration: none;
    padding: 5px 15px;
    color:white;
    font-size: 15px;
    font-weight: 200em;
}
.navi{
    background-color: #0dcaf07e;
    padding: 5px 0px;
}
li > a:hover{
    color: rgb(224, 224, 224);
}
#active{
    color:black;
}
