body{
    background-color:#97c6f8
}
#form{
    border: 2px solid black;
    border-radius: 20px;
    background-color: #88b6e7;
    width: fit-content;
    height: fit-content;
    padding: 50px;
    margin-top:10%;
    
}
#input,#label{
    display: block;
}
#label{
    font-size: 18px;
    font-weight: 600;
}

#input{
    font-size: 18px;
    font-weight: 100em;
    border-radius: 5px;
    background-color: #97c6f8;
    outline: none;
    border: 2px solid black;
}

.button{
    font-size: 15px;
    padding: 10px;
    margin: 0px 15px;
    font-weight: bold;
    border-radius: 5px;
    border:0px;
    color: white;
}
#submit{
    background-color: #007bff;
}
#reset{
    background-color: #dc3545;
}
#submit:hover{
    background-color:#0761c2 ;
}
#reset:hover{
    background-color:#9e2733 ;
}
h6{
    background-image: linear-gradient(#97c6f8,#88b6e7); 
    font-size: 20px;
    font-weight: 400;
    margin-top: -20%;
    padding-bottom: 9%;
    border-radius: 10px;
}
#noAcc > a{
    display: inline;
    
}